$text-color-1: #3d3d3d;
$text-color-2: #fdd000;
$text-color-3: #dfdfdf;
$calendar-color: #272829;

body {
  padding: 0;
  margin: 0;
  width: 1920px;
  font-family: "Rubik", sans-serif;
  position: fixed;
}

.header-logo img {
  position: absolute;
  top: 50px;
  left: 110px;
  height: 83px;
  width: 165px;
}
.content-wrapper {
  margin-top: 22px;
  height: 908px;
  display: flex;
  > .content-calendar {
    width: 695.09px;
    height: 908px;
    background: $calendar-color;
    > .calendar-wrapper {
      width: 467.29px;
      height: 490.87px;
      position: absolute;
      left: 1347px;
      top: 381px;
      color: $text-color-3;
      > .calendar-header {
        font-size: 19px;
        line-height: 23px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
      }
      > table {
        font-size: 17px;
        font-weight: 500;
        width: 467.29px;

        > tbody {
          height: 270px;

          > tr {
            text-align: center;
            height: 52px;
            .in-prev-month,
            .in-next-month {
              color: $text-color-3;
              opacity: 0.24;
            }
            tr:hover {
              cursor: pointer;
            }
            .today {
              background: yellow;
              color: $text-color-1;
            }
            > td {
              width: 52px;
              height: 52px;
            }
            td:hover {
              cursor: pointer;
            }
          }
        }
      }
      > .fa-angle-right {
        display: flex;
        justify-content: flex-end;
      }
      .fas {
        cursor: pointer;
      }
    }
  }
  > .content-label {
    background: url("../images/content.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 908px;
    width: 1192px;
    text-align: right;
    padding-right: 32.91px;
    > .content-label_1 {
      margin-top: 191.75px;
      color: $text-color-2;
      font-size: 50px;
      line-height: 64px;
      letter-spacing: 3.5px;
      font-weight: 800;
      margin-right: -3px;
    }
    > .content-label_2 {
      letter-spacing: 0.6px;
      color: $text-color-3;
      font-size: 30px;
      font-weight: 300;
      margin-top: 40px;
      line-height: 40px;
    }
  }
}
tbody {
  height: 270px;
}
tr {
  text-align: center;
  height: 52px;
}
hr {
  size: 1px;
  color: white;
  opacity: 0.43;
  width: 467.29px;
}
.hr {
  position: absolute;
  top: 300px;
}

a {
  text-decoration: none;
  color: inherit;
}
.aboutus-wrapper {
  margin-top: 69.75px;
  font-family: "Rubik", sans-serif;
  position: fixed;
  color: #3d3d3d;
  width: 100%;
  font-family: "Rubik", sans-serif;
  > .aboutus-wrapper-inner {
    margin: 0 auto;
    height: 582px;
    width: 1336px;
    line-height: 36px;
    letter-spacing: 0.4px;
    font-weight: 20px;
    width: 1336px;
    > .aboutus-label {
      font-weight: 700;
      line-height: 100px;
      font-size: 34px;
      letter-spacing: -0.68px;
    }
    > .aboutus-text {
      margin-top: 42px;
      font-weight: 300;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.4px;
    }
  }
}

.openButton {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  top: 200px;
  left: 200px;
}
